.modal-content {
    background: rgba(255, 255, 255, 0.027);
    position: relative;
    margin: 10% auto;
    margin-top: 100px;
    width: 70%;
    max-width: 512px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    filter: alpha(opacity=100) !important;
}


.img-avatar {
    border-radius: 50%;
}

.img-profile {
    vertical-align: middle;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 0px;
    width: auto;
    height: auto;
    aspect-ratio: 1/1;
}

.img-preview {
    vertical-align: middle;
    box-sizing: border-box;
    width: 300px;
    height: auto;
    align-self: center;
    /* aspect-ratio: 1/1; */
}

.modal-header h5,
.modal-footer h3 {
    margin: 0;
}

.modal-header {
    background: #428bca;
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.modal-body {
    padding: 10px 20px;
    background: #fff;
}

.modal-footer {
    background: #428bca;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
    justify-content: center;
}

.close-modal {
    align-items: right;
    margin-right: 20px;
    float: right;
    font-size: 40px;
    color: #fff;
}

.close-modal:hover,
.close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}