<!DOCTYPE html>
<html>
  
<head>
    <title>Template</title>
    <link rel='stylesheet' href=
'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css'>
  
    <!-- custom css -->
    <style>
        div.columns {
            margin-top: 80px;
        }
  
        h1 {
            width: 100%;
            margin-top: 70px;
            color: green !important
        }
  
        div.columns {
            margin-top: 20px;
        }
    </style>
</head>
  
<body>
    <div class='container'>
        <div>
            <h1 class='title 
                has-text-centered'>Template</h1>
        </div>
        <div class='columns is-mobile is-centered'>
            <div class='column is-5'>
                <div class='list'>
                    <ul>
                        <div class='list-item'>
                            <li>
                               <a href="https://msyafrial.github.io/template/email/">Email Lamaran Kerja</a>
                            </li>
                        </div>
  
                        <div class='list-item'>
                            <li>
                                <a href="https://msyafrial.github.io/template/email/">Email Lamaran Kerja</a>
                            </li>
                        </div>
  
                        <div class='list-item'>
                            <li>
                                <a href="https://msyafrial.github.io/template/email/">Email Lamaran Kerja</a>
                            
                            </li>
                        </div>
  
                        <div class='list-item'>
                            <li>
                                <a href="https://msyafrial.github.io/template/email/">Email Lamaran Kerja</a>
                            
                            </li>
                        </div>
  
                        <div class='list-item'>
                            <li>
                                <a href="https://msyafrial.github.io/template/email/">Email Lamaran Kerja</a>
                            
                            </li>
                        </div>
  
                        <div class='list-item'>
                            <li>
                                &ensp;
                            </li>
                        </div>
  
                        <div class='list-item'>
                            <li>
                                &ensp;
                            </li>
                        </div>
  
                        <div class='list-item'>
                            <li>
                                &ensp; 
                            </li>
                        </div>
  
                        <div class='list-item'>
                            <li>
                                &ensp;
                            </li>
                        </div>
  
                        <div class='list-item'>
                            <li>
                                &ensp;
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
  
</html>