<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Informasi mengenai tsunami di indonesia</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/logo.png" rel="icon">
  <link href="img/logo.png" rel="apple-touch-icon">

  <!-- Libraries CSS Files -->
  <link href="lib/flat-ui/css/flat-ui.css" rel="stylesheet">
  <!-- Bootstrap CSS File -->
  <link href="css/bootstrap.min.css" rel="stylesheet">


  </style>
  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <!-- =======================================================
      Template Name: AL
      Template URL: https://templatemag.com/good-bootstrap-corporate-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>


  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a style="float: left;" href="#">
          <img style="margin: 10px;" src="img/logo.png " alt="" width="50">
        </a>
        <h3 class="navbar-kiri" href="">Informasi Tsunami</h3>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#">Halaman Awal</a>
          </li>
          <li><a href="#">Informasi</a></li>
          <li><a href="#f">Kontak</a></li>
          <li><a href="#">Penanggulangan</a></li>
          <li><a href="peta.html">Peta</a></li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="services.html">Services</a></li>
              <li><a href="pricing.html">Pricing Tables</a></li>
              <li><a href="testimonials.html">Testimonials</a></li>
              <li><a href="team.html">Our Team</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog-single.html">Blog Article</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="404.html">404</a></li>
            </ul>
          </li>
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolios <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="portfolio4.html">Portfolio 4 Columns</a></li>
              <li class="active"><a href="project-single.html">Single Project</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>


  <!-- Headerwrap -->
  <div id="headerwrap-2">
    <div class="container">
      <div class="row">
        <h1>Don't be a <b>fool</b>, cause safety is <b>cool</b>,<br /> so make that your <b>rule</b>.</h1>
      </div>
    </div>
  </div>
  <!-- /Headerwrap -->

  <!-- Call To Action -->
  <div id="cta">
    <div class="container centered">
      <h3>Selamat datang di website kami.</h3>
      <p>Kami berkomitmen untuk memberikan informasi mengenai Tsunami agar dapat memberikan edukasi kepada masyarakat
        pentingnya kesadaran mengetahui bencana Tsunami.</p>
      <br>
      <!-- <a href="about.html"><button class="btn btn-embossed btn-primary">Meet Our History</button></a> -->
    </div>
    <!-- /container -->
  </div>
  <!-- /cta -->




  <!-- container -->
  <div class="container">
    <div class="row">
      <br>
      <div class="col-lg-5">
        <img class="img-responsive" src="img/half-mac2.png" alt="" />
      </div>
      <!-- /col-lg-6 -->

      <div class="col-lg-6">
        <h4 style="padding-top: 10px; margin: 0;"><b>Pengertian Tsunami</b></h4>
        <div class="sinfo">
          <p> &emsp; Tsunami adalah satu dari sekian kejadian alam yang
            ditandai dengan pasangnya air laut dalam skala besar dan terjadi
            secara mendadak, kejadian ini biasa terjadi setelah adanya goncangan
            gempa bumi tektonik. Gelombang air laut yang dihasilkan mampu menghancurkan
            area pemukiman di sekitar pantai (Simandjuntak,1994).</p>

        </div>

      </div>
      <!-- /col-lg-6 -->

    </div>
    <!-- /row -->
    <br>
    <hr>
  </div>
  <!-- container -->


  <!-- Services Section -->
  <div class="container sinfo">
    <div class="row centered">
      <h4>Menurut King (1972) dan Anhert (1996) ada tiga faktor utama yang menjadi penyebab bencana <b>tsunami</b>,
        yaitu:</h4>
      <br>
      <br>

      <div class="col-lg-4">
        <p><img src="img/icons/spray.svg" alt=""></p>
        <p>Ada retakan yang terjadi di dasar laut dan diiringi dengan suatu gempa bumi. Retakan yang dimaksud adalah
          zona planar yang bersifat lemah dan bergerak melalui wilayah kerak bumi.</p>
        <!-- <p><button class="btn btn-primary">Read More</button></p> -->
      </div>
      <!-- col-lg-3 -->

      <div class="col-lg-4">
        <p><img src="img/icons/rocket.svg" alt=""></p>
        <p>Ada tanah longsor yang terjadi baik di atas lautan atau di bawah laut, kemudian longsoran tersebut menimpa
          air dengan keras.</p>
        <!-- <p><button class="btn btn-primary">Read More</button></p> -->
      </div>
      <!-- col-lg-3 -->

      <div class="col-lg-4">
        <p><img src="img/icons/pencil.svg" alt=""></p>
        <p>Ada aktivitas dari gunung api yang lokasinya dekat dari pantai atau memang terletak di bawah air. Gunung api
          tersebut bisa terangkat atau mengalami tekanan layaknya pergerakan pada suatu retakan.</p>
        <!-- <p><button class="btn btn-primary">Read More</button></p> -->
      </div>
      <!-- col-lg-3 -->

    </div>
    <!-- /row -->
    <br>
    <hr>
  </div>
  <!-- /container -->


  <div id="g">
    <div class="container">
      <div class="row">
        <h4 class="centered">What We Are <b>Talking?</b></h4>
        <br>
        <div class="col-md-4">
          <div class="bc">
            <img class="img-responsive" src="img/bc01.jpg" alt="">
            <p><a href="#">Blog Post 1</a></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text...</p>
            <p>
              <date>Sep. 24, 2013</date>
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="bc">
            <img class="img-responsive" src="img/bc02.jpg" alt="">
            <p><a href="#">Blog Post 2</a></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text...</p>
            <p>
              <date>Sep. 24, 2013</date>
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="bc">
            <img class="img-responsive" src="img/bc03.jpg" alt="">
            <p><a href="#">Blog Post 3</a></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text...</p>
            <p>
              <date>Sep. 24, 2013</date>
            </p>
          </div>
        </div>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- grey wrap -->



  <!-- FOOTER -->
  <div id="f">
    <div class="container">
      <div class="row">
        <h5 class="centered">Contact Information</h5>
        <br>

        <div class="col-lg-4">
          <p>ABOUT <b>AL</b> STUDIO</p>
          <p><small>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
              alteration in some form, by injected humour, or randomised words which don't look even slightly
              believable.</small></p>
        </div>

        <div class="col-lg-4">
          <p>MAIN OFFICE</p>
          <p><small>
              Richardson Ave. 984<br />
              London, UK.<br />
              +44 3893-4904
            </small></p>
        </div>

        <div class="col-lg-4">
          <p>OUR NEWSLETTER</p>
          <p><small>Each month we collect the best stuff around the design world and share it with you.</small></p>
          <p><input type="text" placeholder="Add your email here" class="form-control flat" /></p>
        </div>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>

  <!-- / copyrights -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>

</html>